* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #a7a0a0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 50px;
  box-shadow: black;
  margin-top: 10px;
  margin-bottom: 32px;
}

.capstone {
  display: flex;
  font-size: 70px;
  font-weight: 100;
  margin-top: 200px;
  justify-content: center;
}

.section {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.section > h2 {
  color: teal;
  border: 1px solid;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 10rem;
}

h2:hover {
  color: darkviolet;
}

.home-image {
  display: flex;
  justify-content: center;
  width: 800px;
  height: 400px;
  margin-bottom: 32px;
}

a {
  text-decoration: none;
}

a:active {
  background-color: ;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-style: oblique;
}

.form {
  display: flex;
  justify-content: center;
  height: auto;
}

fieldset {
  border: 0;
}

legend {
  color: darkviolet;
  font-style: italic;
  font-size: large;
  margin-bottom: 10px;
}

[type="text"] {
  margin: 10px;
  border: 1px solid blueviolet;
  padding: 8px;
  border-radius: 5px;
  width: 250px;
}

.checkbox {
  display: flex;
  margin: auto;
  padding: 1rem 0.5rem 1rem 0.5rem;
  align-items: center;
  justify-content: space-around;
}

[type="checkbox"] {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #d5d5d5;
  border-radius: 4px;
  cursor: pointer;
}

.terms {
  color: blueviolet;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px;
  margin: auto;
}

textarea {
  margin: 10px;
  border: 1px solid blueviolet;
  padding: 8px;
  margin-left: 0;
  border-radius: 5px;
  width: 250px;
  height: 100px;
}

.comments-label {
  padding: 5px;
  padding-left: 0;
  color: blueviolet;
}

button {
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: grey;
  font-size: 15px;
  width: 100px;
  border: black 1px;
}

.button {
  display: flex;
  margin: auto;
  padding: 16px;
  align-items: baseline;
  justify-content: flex-start;
}

[type="submit"] {
  color: blueviolet;
}
